<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <title>Админ</title>
  </head>
  <body style="width: 100%;">
    <div class="wrapper">
      <header class="header"  style="text-align: center;">
        <h2>Команда ZhимоVики</h2>
        <h2>
          Интеллектуальный анализатор обратной связи студентов
        </h2>
      </header>
 <p style="text-align: center">
	<button style="text-align: center;" id="button" name="button">Нажмите для получения результата</button>
</p>
    </div>
  </body>
  <script src="{{ url_for('static',filename='script.js') }}"></script>
</html>
