{% extends 'base.html' %}

{% block content %}
<div class="container_login">
    <div class="login-container">

            <form action="#" method="post">
                {{ form.username(class="button", placeholder=form.username.label.text) }}
                {{ form.password(class="button", placeholder=form.password.label.text) }}
                {{ form.submit(class="submit_button", placeholder=form.submit.label.text, type="submit") }}
            </form>

    </div>
    <div class="background">
        <h1>ZhимоVики</h1>
        <p>Статистика по обратной связи студентов.</p>
    </div>
</div>
{% endblock %}
